@font-face {
    font-family: "AP-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/AP-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AP-Medium";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/AP-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "AP-MediumItalic";
    font-style: italic;
    font-weight: 400;
    src: url("../assets/font/AP-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "AP-Light";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/AP-Light.ttf") format("truetype");
}

@font-face {
    font-family: "AP-LightCondensed";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/AP-LightCondensed.ttf") format("truetype");
}

@font-face {
    font-family: "AP-Italic";
    font-style: italic;
    font-weight: 400;
    src: url("../assets/font/AP-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "AP-Bold";
    font-style: bold;
    font-weight: 600;
    src: url("../assets/font/AP-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "AP-BoldItalic";
    font-style: bold, italic;
    font-weight: 600;
    src: url("../assets/font/AP-BoldItalic.ttf") format("truetype");
}
